body {
    background: linear-gradient(to right, #a8e063, #56ab2f);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

p {
    color: #f0f0f0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    box-shadow: 0 30px 20px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #56ab2f;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a8e063;
}
body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
}
body {
    transform: translateY(50%);
    display: flex;
    background: linear-gradient(to right, #00bb9c, #000080);
    justify-content: center;
    align-items: center;
}
body {
    background: url('../img/pngtree-digital-abstract-background-of-matrix-image_908365.png') no-repeat center center fixed;
    background-size: cover;
}
label, input {
    color: rgb(0, 255, 0);
}
body, h1, h2, h3, h4, h5, h6, p, label, input {
    color: rgb(0, 255, 0);
}
input {
    background-color: rgb(0, 0, 0);
}
input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}



